# Prerequisites
.vscode/
bin/
build/

# Python
venv/
__pycache__/
*.egg-info/
*.egg
.eggs/

# C++ Build Artifacts
*.o
*.exe
prometheus
prometheus-viz

# Test
tests/outputs/

.vsix
node_modules/

# LSP / Node
tools/prometheus_lsp/vscode-extension/node_modules/
tools/prometheus_lsp/vscode-extension/*.vsix

# Test artifacts
test.prm

# Windows/WSL junk
*.Zone.Identifier

# Editors
.vscode/settings.json
.idea/
*.swp